body {
    font-family: 'Poppins', sans-serif;
}

.header-container {
    background-image: url("../images/banner/banner1.png");
    background-repeat: no-repeat;
    height: 700px;
    background-position: left;
}

.header {
    text-align: end;
    align-items: center;
    padding: 200px;
    margin-left: 600px;
    margin-right: 0px;
}

.hading {
    margin-bottom: 0px;
    flex-direction: column;
    color: #151414;
    text-align: right;
    font-size: 46px;
    font-weight: 800;
    width: 325px;
    flex-direction: column;
}

.btn {
    background-color: #F15B22;
    border: none;
    border-radius: 5px;
    width: 100px;
    color: white;
    font-weight: 600;
    height: 40px;
}


/* Failure section style added */
span {
    color: blue;
    font-weight: 800;
    margin-right: 4px;
}

.failure-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    gap: 134px;
}

.failure-container img {
    width: 50%;
}

.failure-text {
    width: 50%;
}

.failure-head {
    width: 288px;
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 0;
}

.failure-des {
    display: flex;
    width: 416px;
    flex-direction: column;
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

/* Plans section styled */
.plan-container {
    text-align: center;
}

.varius-plans {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.varius-plans img {
    width: 92px;
}

.plane-header {
    text-align: center;
    margin-bottom: 0;
    color: #151414;
    font-size: 20px;
    font-weight: 600;
}

.plan-des {
    text-align: center;
    margin-top: 0;
    color: #737272;
    font-size: 16px;
}

.plane-head {
    margin-bottom: 55px;
}

/* Positive mind set section */
.positive-mind {
    background-image: url("../images/gradient1.png"), url("../images/watch.png");
    background-repeat: no-repeat;
    width: 90%;
    justify-content: end;
    align-items: center;
    padding: 50px;
    height: 300px;
    margin-top: 130px;
    background-position: center;
}

.mind-header {
    margin-bottom: 0;
    margin-left: 64px;
    width: 459px;
    flex-direction: column;
    color: #FFF;
    font-size: 40px;
    font-weight: 700;
    line-height: normal;
}

.img-btn {
    margin-top: 10px;
}

/* Footer section stylish */
.media {
    display: flex;
    
}

.media li {
    list-style: none;
    margin-right: 20px;
}

.Footer {
    display: flex;
    width: 100%;
    background: #151414;
    color: #FFF;
}

.footer-text {
    width: 50%;
    padding: 50px;
}

.footer-sub {
    width: 50%;
    padding: 50px;
}

input {
    height: 40px;
    border: 1px solid lightgoldenrodyellow;
    text-align: center;
}